{% extends "base.html" %}

{% block title %} 
<h1> Danas Dog Finder</h1>   
{% endblock %}



{% block content %}
    <div class="container">
        <h1 class="text-center">Danas Breed Finder</h1>
    </div>
    
    
    <img src="{{url_for('static', filename='hero_img.png')}}">
    <div class="px-4 py-5 my-5 text-center">
        <p> Lets see which breed fits best to you </p>
        <a href="/questionnair" ><button type="button" class="btn btn-primary btn-lg px-4 me-sm-3" > Try it Out. </button></a>  
    </div>
       

    
   
    
{% endblock %}  