<html>
    <head>
        <title> {{ page_title }}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark" margin-left: 0;>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <div class="navbar-nav"> 
                        <a class="nav-item nav-link" id="home" href="/">home</a>
                        <!-- <a class="nav-item nav-link" id="login" href="/login">Login</a> -->
                        <!-- <a class="nav-item nav-link" id="signup" href="/signup">Signup</a> -->
                        <a class="nav-item nav-link" id="signout" href="/logout">Logout</a>
                       
                    </div>
                </div>
            </nav>
            </header>
        <div class ="container">
            <head>
                <h2>Answer the following questions and submit when your done </h2>
            </head>

            <form class="questions" id="q1" method="POST">
                <div id="wrapper">
                    <label for="first_question"><h3>Does your home have more than 100 square meter?</h3></label>
                <p>
                <input type="radio" name="yes_no_radio" id="radio_yes" value=25 >Yes</input>
                </p>
                <p>
                <input type="radio" name="yes_no_radio" id="radio_no" value=0>No</input>
                </p>
                <button id="submit">Next</button>
                </div>
            </form>

            <form class="questions" id="q2" method="POST">
                <div id="wrapper">
                    <label for="second_question"><h3>Do you have a Forest or a Park near your home ?</h3></label>
                <p>
                <input type="radio" name="yes_no_radio" id="radio_yes" value=25 >Yes</input>
                </p>
                <p>
                <input type="radio" name="yes_no_radio" id="radio_no" value=0>No</input>
                </p>
                <button id="submit">Next</button>
                </div>
            </form>
            
            <form class="questions" id="q3" method="POST">
                <div id="wrapper">
                    <label for="third_question"><h3>Do you have more than 6 hours a day to care for a Dog?</h3></label>
                <p>
                <input type="radio" name="yes_no_radio" id="radio_yes" value=25 >Yes</input>
                </p>
                <p>
                <input type="radio" name="yes_no_radio" id="radio_no" value=0>No</input>
                </p>
                <button id="submit">Next</button>
                </div>
            </form>

            <form class="questions" id="q4" method="POST">
                <div id="wrapper">
                    <label for="fourth_question"><h3>Are you tolerant against dirt?</h3></label>
                <p>
                <input type="radio" name="yes_no_radio" id="radio_yes" value=25 >Yes</input>
                </p>
                <p>
                <input type="radio" name="yes_no_radio" id="radio_no" value=0>No</input>
                </p>
                <button id="submit">Submit</button>
                </div>
            </form>
            
        </div class="container">
        
       
        <div id="score"></div>
        <div id="score_breeds"></div>
        
        <br>
    <footer style="text-align: center; color: crimson; background-color: lightslategray;">
        <h2>4 Questions in total</h2>
    </footer>        
    <script src="static/jquery.js"></script>    
    <script src="static/questionnair.js"></script>
    </body>
</html>